:root {
  --branding-color: #6bc7da;
  --secondary-color: #67d5d2;
  --main-title-font: "Playfair Display", serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.main-page h1 {
  font-size: 86px;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  color: white;
}

.main-page h2 {
  font-size: 76px;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  color: white;
}

.index-features-page {
  padding: 40px;
}

h2 {
  font-size: 48px;
  font-family: var(--main-title-font);
  color: var(--branding-color);
}

h3 {
  color: gray;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.main-page {
  background-color: var(--branding-color);
  padding: 220px 100px;
}

.btn-dark {
  background: #353535;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: "Source Sans Pro";
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.btn-branded {
  border: 1px solid var(--branding-color);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 18px 30px;
  color: var(--secondary-color);
  box-shadow: var(--box-shadow);
}

.btn-branded:hover {
  color: white;
  background-color: var(--secondary-color);
}

p {
  line-height: 1.5;
  font-size: 18px;
  opacity: 70%;
}

.page-heading {
  color: #6bc7da;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}
.img-border {
  border: 5px solid #67d5d17e;
}

@media (max-width: 576px) {
  .my-name-heading {
    text-align: center;
    font-size: 76px;
  }
  .portfolio-heading {
    text-align: center;
    font-size: 66px;
  }
  .sub-heading {
    text-align: center;
  }

  body {
    text-align: center;
  }
}
/*

@media (max-width: 375px) {
  .main-page h1 {
    text-align: center;
    font-size: 70px;
  }

  .main-page h2 {
    display: none;
  }

  .main-page h3 {
    font-size: 24px;
  }
}



@media (max-width: 576px) {
  .main-page h1 {
    text-align: center;
    font-size: 70px;
  }
  .main-page h2 {
    font-size: 50px;
  }
  body {
    text-align: center;
  }
}
*/
