:root {
  --branding-color: #6bc7da;
  --secondary-color: #67d5d2;
  --section-color: #b5e3ed;
  --subtle-color: #f7f8fc;
  --main-title-font: "Playfair Display", serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.navbar-color {
  background: rgba(181, 227, 237, 0.952);
}

.logo {
  color: green;
}

.main-page h1 {
  font-size: 86px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: white;
}

.main-page h2 {
  font-size: 76px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: white;
}

.main-page {
  background-color: var(--branding-color);
  height: 690px;
  text-align: center;
  padding: 160px 20px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.index-features-page {
  padding: 40px;
}

h2 {
  font-size: 48px;
  font-family: var(--main-title-font);
  color: var(--branding-color);
}

h3 {
  color: gray;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

h4 {
  font-size: 48px;
  font-family: var(--main-title-font);
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.btn-dark {
  background: #353535;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: "Source Sans Pro";
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.btn-branded {
  border: 1px solid var(--secondary-color);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 18px 30px;
  color: var(--secondary-color);
  box-shadow: var(--box-shadow);
}

.btn-branded:hover {
  color: white;
  background-color: var(--secondary-color);
}

p {
  line-height: 1.5;
  font-size: 18px;
  opacity: 70%;
}

.page-heading {
  color: #6bc7da;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}
.img-border {
  border: 5px solid #67d5d17e;
}

/* ABOUT PAGE */

.headshot-image {
  width: 360px;
  border-radius: 30px;
  padding: 20px;
}

.about-section {
  padding: 160px 20px;
}

.about-section-content {
  margin: 30px;
}

.about-section h1 {
  font-size: 64px;
}

.about-section h2 {
  font-size: 18px;
  color: #8b8990;
}

.about-section h3 {
  font-size: 28px;
  color: #000000;
}

.name-color {
  color: var(--branding-color);
}
/* CERTIFICATE SECTION*/
.certificate-title {
  color: black;
  font-size: 24px;
  font-family: "Playfair Display", serif;
}

.certificate-section {
  padding: 80px;
}

.certificate-section img:hover {
  transform: scale(1.07);
}

/* TECHNOLOGY SECTION*/

.technology-section {
  color: #000000d0;
  font-weight: bold;
  text-align: center;
  padding: 50px;
  border: 5px solid #67d5d17e;

  border-radius: 10px;
}

.technology-title {
  font-size: 24px;
  text-align: center;
  color: black;
  /* margin: 40px;*/
  font-family: "Playfair Display", serif;
  padding-top: 50px;
}

.icon {
  width: 17px;
}

.technology-section h3 {
  font-size: 30px;
  text-align: center;
  color: var(--branding-color);
}

.btn-view-projects {
  background-color: var(--branding-color);
  color: white;
  text-decoration: none;
  padding: 18px 30px;
  border-radius: 30px;
}

.btn-view-projects:hover {
  background-color: white;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
}

/* PROJECTS PAGE*/
.image {
  position: relative;
}

.project-img {
  display: block;
  width: 100%;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.image-overlay-blur {
  backdrop-filter: blur(8px);
}

.image-overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image-overlay:hover {
  opacity: 1;
  border-radius: 5px;
}

.image-overlay:hover > * {
  transform: translateY(0px);
  /*this makes the text appear from the bottom*/
}

.image-title {
  font-size: 20px;
  margin-top: 0.25em;
}
/*.container .project-img:hover {
  filter: grayscale(100%);
  opacity: 0.2;
}
*/

.project-page-title {
  font-family: var(--main-title-font);
  color: var(--branding-color);
}

.git-link a {
  color: purple;
}

/* Contact page*/
.email-border {
  padding-bottom: 5px;
  width: 300px;
  padding-left: 25px;
  background-color: white;
  border-radius: 40px;
  border: 1px var(--branding-color) solid;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  color: rgb(75, 72, 72);
}

.searchButton {
  color: grey;

  top: 40px;
  right: 20px;
  background-color: var(--branding-color);
  color: white;
  padding: 0px 10px;
  border-radius: 40px;
  border: 1px var(--branding-color) solid;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}

.inputTextBar {
  top: 40px;
  right: 20px;
  width: 300px;
  background-color: white;
  border-radius: 40px;
  border: 1px var(--branding-color) solid;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--section-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .social-links a {
  color: var(--branding-color);
  background-color: white;
  border: 1px solid var(--branding-color);
  margin: 0 5px;
  padding: 10px 12px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

@media (max-width: 576px) {
  .main-page h1 {
    font-size: 66px;
  }
  .main-page h2 {
    font-size: 56px;
  }

  body {
    text-align: center;
  }
  .hidden-text {
    display: none;
  }
}

@media (max-width: 375px) {
  .main-page h1 {
    font-size: 56px;
  }
  .main-page h2 {
    font-size: 53px;
  }
}

/*
@media (max-width: 576px) {
  .main-page h1 {
    text-align: center;
    font-size: 70px;
  }
  .main-page h2 {
    font-size: 50px;
  }
  body {
    text-align: center;
  }
}
*/
